@import "../../../scss/abstracts/_abstracts-dir";
.dc-user-sidebar{
    background: var(--bg-white);
    border: rem(1) solid #eaeaea;
    &__link-list{
        li{
            
            a{
                column-gap: rem(10);
                //color: $link-text-gray-800;
                &.active,
                &:hover{
                    //color: $link-text-hover-color-primary; 
                }
            }
        }
    }
    &__avtar-col{
        margin-top: rem(-60);
    }
    &__avtar{
        width: rem(120);
        height: rem(120);
        border-radius: 50%;
        background: #fff;
        overflow: hidden;
        position: relative;
        border: rem(1) solid #eaeaea;
        img{
            max-width: 100%;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}
//later will update this
.dc-body-container{
    background: var(--bg-white);
}