@import "../../../scss/abstracts/_abstracts-dir";
.dc-header-top{
    background: var(--bg-secondary-100);
    border-bottom: rem(1) solid var(--border-secondary);
    ul{
        column-gap: rem(25);
        li{
            a{
                column-gap: rem(5); 
                color: var(--text-white);
            }
        }
    }
    &__dropdown{
        position: relative;
        &-button{
            cursor: pointer;
            column-gap: rem(5);
            color: var(--text-white);
        }
        &--avtar{
            width: rem(20);
            height: rem(20);
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            img{
                max-width: 100%;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
    }
    &__dropdown-content{
        display: none;
        position: absolute;
        top: rem(32);
        right: 0;
        width: rem(180);
        background: var(--bg-white);
        //border: rem(1) solid var(--border-default);
        border-top: none;
        transform: translateY(100%);
        transition: transform 0.8s ease-in-out;
        opacity: 0;
        border-radius: 0 0 rem(5) rem(5);
        &--open{
            display: block;
            opacity: 1;
            transform: translateY(0%);
        }
        ul{
            li{
                //border-bottom: rem(1) solid var(--border-default);
                a{
                    color: var(--text-gray);
                }
                &:last-child{
                    border: none;
                }
            }
        }
    }
}