@import "../../../scss/abstracts/_abstracts-dir";
.dc-header{
    background: var(--bg-gray-400);
    &__logo{
        img{
            max-width: rem(200);
            width: 100%;
            display: block;
        }
    }
}