html {
  font-family: $font-family;
  font-size:   $font-size;
  line-height: $font-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-weight: 400;
}
body {
  color           : $text-color-gray-700;
  background      : $bg-color-white;
  font-weight     : 400;
}
strong {
   font-weight: 600;
}
a{
    color: $link-text-color-primary;
    text-decoration: none;
    transition: all .3s ease-in;
}


