.dc-btn{
    display: inline-flex;
    margin: 0;
    font-size: rem(18);
    letter-spacing: rem(.5);
    font-weight: 600;
    transition: background-color 0.5s ease;
    border: none;
    border-radius: rem(6);
    justify-content: center;
    &.dc-btn{
        &-primary{
            background: var(--bg-primary-100);
            color: $button-text-color-white;
            &:hover{
                color: $button-text-color-white;
                background: var(--bg-primary-200);
                transition: background-color 0.5s ease;
            }
        }
        &-secondary{
            background: var(--bg-secondary-100);
            color: $button-text-color-white;
            &:hover{
                color: $button-text-color-white;
                background: var(--bg-secondary-300);
                transition: background-color 0.5s ease;
            }
        }
        &-fluid{
            width: 100%;
        }
    }
}

