.dc-btn{
    display: inline-block;
    padding: rem(13) rem(40);
    margin: 0;
    font-size: rem(18);
    letter-spacing: rem(.5);
    font-weight: 600;
    transition: background-color 0.5s ease;
    border: none;
    border-radius: rem(2);
    &.dc-btn-primary{
        background: $primary;
        color: $white;
        &:hover{
            color: $white;
            background-color: shade-color($primary, 10%);
            transition: background-color 0.5s ease;
        }
    }
    &.dc-btn-secondary{
        background: $secondary;
        color: $white;
        &:hover{
            color: $white;
            background-color: shade-color($secondary, 50%);
            transition: background-color 0.5s ease;
        }
    }
    &.dc-btn-fluid{
        width: 100%;
    }
}

