input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
*[tabindex] {
  &:focus {
      opacity: 1;
  }
}
button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[role="button"] {
  cursor: pointer;
}
select {
  word-wrap: normal;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  min-width: 0;
}

input[type="text"],
input[type="file"],
input[type="password"],
input[type="email"]{
  width: 100%;
  border: rem(1) solid $border-color-gray-300;
  border-radius: rem(6);
}
input[type="text"]:focus,
input[type="file"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
  color:$text-color-gray-700;
  border-color: $border-color-gray-400;
  outline: 0;
  background-color: $bg-color-white;
}
input[type=file]::file-selector-button {
  margin-right: rem(20);
  border: none;
  background:$bg-color-gray-300;
  padding:rem(12);
  border-radius:rem(6) 0 0 rem(6);
  color:$text-color-gray-700;
  cursor: pointer;
}