[class^="dc-icon-"], [class*=" dc-icon-"] {
    @include dciconmoonStyle();
}
.dc-icon {
    &-idea{
        &::before{
            content:$dc-icon-idea 
        }
    }
    &-home{
        &::before{
            content:$dc-icon-home
        }
    }
    &-pencil{
        &::before{
            content:$dc-icon-pencil
        }
    }
    &-envelop{
        &::before{
            content:$dc-icon-envelop
        }
    }
    &-user{
        &::before{
            content:$dc-icon-user
        }
    }
    &-search{
        &::before{
            content:$dc-icon-search
        }
    }
    &-key{
        &::before{
            content:$dc-icon-key
        }
    }
    &-bin{
        &::before{
            content:$dc-icon-bin
        }
    }
    &-switch{
        &::before{
            content:$dc-icon-switch
        }
    }
    &-arrow{
        &-left{
            &::before{
                content:$dc-icon-arrow-left
            }
        }
        &-right{
            &::before{
                content:$dc-icon-arrow-right
            }
        }
        &-up{
            &::before{
                content:$dc-icon-arrow-up
            }
        }
        &-down{
            &::before{
                content:$dc-icon-arrow-down
            }
        }
    }
}
