[class^="dc-icon-"], [class*=" dc-icon-"] {
    @include dciconmoonStyle();
}
.dc-icon {
    &-admin{
        &::before{
            content:$dc-icon-admin 
        }
    }
    &-delete{
        &::before{
            content:$dc-icon-delete
        }
    }
    &-edit{
        &::before{
            content:$dc-icon-edit
        }
    }
    &-email{
        &::before{
            content:$dc-icon-email
        }
    }
    &-home{
        &::before{
            content:$dc-icon-home
        }
    }
    &-idea{
        &::before{
            content:$dc-icon-idea
        }
    }
    &-key{
        &::before{
            content:$dc-icon-key
        }
    }
    &-arrow{
        &-up{
            &::before{
                content:$dc-icon-arrow-down;
                transform: rotate(180deg);
            }
        }
        &-right{
            &::before{
                content:$dc-icon-arrow-down;
                transform: rotate(-90deg);
            }
        }
        &-down{
            &::before{
                content:$dc-icon-arrow-down;
            }
        }
        &-left{
            &::before{
                content:$dc-icon-arrow-down;
                transform: rotate(90deg);
            }
        }
    }
    &-logout{
        &::before{
            content:$dc-icon-logout
        }
    }
    &-password{
        &::before{
            content:$dc-icon-password
        }
    }
    &-pencil{
        &::before{
            content:$dc-icon-pencil
        }
    }
    &-reset{
        &-password{
            &::before{
                content:$dc-icon-reset-password
            }
        }
    }
    &-role{
        &-setting{
            &::before{
                content:$dc-icon-role-setting
            }
        }
    }
    &-search{
        &::before{
            content:$dc-icon-search
        }
    }
    &-setting{
        &::before{
            content:$dc-icon-setting
        }
    }
    &-user{
        &::before{
            content:$dc-icon-user
        }
    }
    &-administrator{
        &::before{
            content:$dc-icon-administrator
        }
    }
    &-error{
        &::before{
            content:$dc-icon-error
        }
    }
    &-info{
        &::before{
            content:$dc-icon-info
        }
    }
    &-success{
        &::before{
            content:$dc-icon-success
        }
    }
    &-warning{
        &::before{
            content:$dc-icon-warning
        }
    }
    &-forgot{
        &-password{
            &::before{
                content:$dc-icon-forgot-password
            }
        }
    }
    &-heart{
        &::before{
            content:$dc-icon-heart
        }
    }
    &-cart{
        &::before{
            content:$dc-icon-cart
        }
    }
    &-share{
        &::before{
            content:$dc-icon-share
        }
    }
    &-truck{
        &::before{
            content:$dc-icon-truck
        }
    }
    &-cloud{
        &-upload{
            &::before{
                content:$dc-icon-cloud-upload
            }
        }
    }
    &-compare{
        &::before{
            content:$dc-icon-compare
        }
    }
    &-eye{
        &::before{
            content:$dc-icon-eye
        }
    }
    &-close{
        &::before{
            content:$dc-icon-close
        }
    }
    &-newsletter{
        &::before{
            content:$dc-icon-newsletter
        }
    }
    &-address{
        &-book{
            &::before{
                content:$dc-icon-address-book
            }
        }
    }
    &-account{
        &-edit{
            &::before{
                content:$dc-icon-account-edit
            }
        }
    }
    &-returns{
        &::before{
            content:$dc-icon-returns
        }
    }
    &-rewards{
        &::before{
            content:$dc-icon-rewards
        }
    }
    &-transactions{
        &::before{
            content:$dc-icon-transactions
        }
    }
    &-download{
        &::before{
            content:$dc-icon-download
        }
    }
    &-upload{
        &::before{
            content:$dc-icon-download;
            transform: rotate(180deg);
        }
    }
    &-orders{
        &::before{
            content:$dc-icon-orders
        }
    }
    &-camera{
        &::before{
            content:$dc-icon-camera
        }
    }
    &-filter{
        &::before{
            content:$dc-icon-filter
        }
    }
    &-save{
        &::before{
            content:$dc-icon-save
        }
    }
    &-refresh{
        &::before{
            content:$dc-icon-refresh
        }
    }
    &-print{
        &::before{
            content:$dc-icon-print
        }
    }
    &-location{
        &::before{
            content:$dc-icon-location
        }
    }
    &-plus{
        &::before{
            content:$dc-icon-plus
        }
    }
    &-minus{
        &::before{
            content:$dc-icon-minus
        }
    }
    &-update{
        &::before{
            content:$dc-icon-update
        }
    }
}
