.dc-container{
    padding-left: rem(15);
    padding-right: rem(15);
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 100%;
    @media (min-width: $screen-lg) {
      max-width: rem($container-lg);
    }
    @media (min-width: $screen-xl) {
      max-width: rem($container-xl);
    }
    @media (min-width: $screen-xxl) {
      max-width: rem($container-xxl);
    }
}
.fw{
  @include fb(100);
  @include fb(200);
  @include fb(300);
  @include fb(400);
  @include fb(500);
  @include fb(600);
  @include fb(700);
}
.radius-50{
    border-radius: 50%;
} 
.radius-3{
  border-radius: rem(3);
  @include border-radius('top-left',3);
  @include border-radius('top-right',3);
  @include border-radius('bottom-left',3);
  @include border-radius('bottom-right',3);
}  
.radius-5{
  border-radius: rem(5);
  @include border-radius('top-left',5);
  @include border-radius('top-right',5);
  @include border-radius('bottom-left',5);
  @include border-radius('bottom-right',5);
}
.radius-7{
  border-radius: rem(7);
  @include border-radius('top-left',7);
  @include border-radius('top-right',7);
  @include border-radius('bottom-left',7);
  @include border-radius('bottom-right',7);
}
.radius-10{
  border-radius: rem(10);
  @include border-radius('top-left',10);
  @include border-radius('top-right',10);
  @include border-radius('bottom-left',10);
  @include border-radius('bottom-right',10);
}
.radius-0{
  border-radius: 0 !important;
}
.border {
    border: rem(1) solid var(--border-default);
    @include border('s');
    @include border('e');
    @include border('t');
    @include border('b');
}

.border-b-0{
  border-bottom: none!important;
}
.border-t-0{
  border-top: none!important;
}
.border-s-0{
  border-left: none!important;
}
.border-e-0{
  border-right: none!important;
}
.text {
  @include text('start');
  @include text('center');
  @include text('end');
}
.box-shadow{
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.015), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.015), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.025), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.015);
}
//TODO
// Guideline style below
.guideline-icon{
  div{
    height: rem(60);
    width: rem(60);
  }
  span{
    font-size: rem(25);
  }
}
.guideline-color{
  div{
    height: rem(60);
    width: rem(60);
    &:nth-child(1) {
      background: $primary;
    }
    &:nth-child(2) {
      background: $secondary;
    }
    &:nth-child(3) {
      background: $danger;
    }
    &:nth-child(4) {
      background: $warning;
    }
    &:nth-child(5) {
      background: $success;
    }
    &:nth-child(6) {
      background: $khaki;
      //background: tint-color($khaki, 76%);//$gray-400
    }
    &:nth-child(7) {
      background: $gray-600;
      //background: tint-color($gray-600, 40%);//$gray-500
    }
    &:nth-child(8) {
      background: $gray-500;
      
    }
    &:nth-child(9) {
      background: $gray-400;
      //background: tint-color($gray-600, 80%);//$gray-300
    }
    &:nth-child(10) {
      background: $gray-300;
      //background: tint-color($gray-600, 92%);//$gray-200
      
    }
    &:nth-child(11) {
      background: $gray-200;
      //background: tint-color($gray-600, 97%);//$gray-100
    }
    &:nth-child(12) {
      background: $gray-100;
    }
    &:nth-child(13) {
      background: $white;
    } 
    &:nth-child(14) {
      background: $black;
      //background: tint-color($black, 46%);//$gray-500
    }   
  }
}
  
