@import "../../../scss/abstracts/_abstracts-dir";

.dc-dashboard{
    &__sidebar{
        &-nav{
            &--heading{
                cursor: pointer;
                column-gap: rem(10);
                font-weight: 600;
                color: var(--text-white);
                .dc-icon-arrow-down,
                .dc-icon-arrow-right{
                    font-size: rem(13);
                }
                .dc-icon-arrow-down{
                    display: none;
                }
                &.active,
                &:hover{
                    color: var(--text-yellow-500);
                    opacity: 0.9;
                }
                &.active{
                    .dc-icon-arrow-right{
                        display: none;
                    }
                    .dc-icon-arrow-down{
                        display: block;
                    } 
                }
            }
            &--text{
                column-gap: rem(10);
            }
            &--content{
                ul{
                    border-left: rem(2) solid var(--border-primary-200);
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height .8s ease;
                    li{
                        a{
                            display: block;
                            font-weight: 500;
                            color: var(--text-white);
                            position: relative;
                            &::before{
                                content: '';
                                width: rem(12);
                                height: rem(2);
                                background:var(--bg-primary-200);
                                margin-right: rem(5);
                                position: absolute;
                                left: 0;
                                top: rem(18);
                            }
                            &.active,
                            &:hover{
                                color: var(--text-yellow-500);
                                &::before{
                                    background:var(--bg-primary-200);
                                }
                            }
                        }
                    }
                }
                &.show{
                    ul{
                        max-height: rem(500);
                    }
                    
                }
            }
        }
    }
}