@import "../../../scss/abstracts/_abstracts-dir";
.dc-main-menu{
    background: var(--bg-white);
    &__list{
        column-gap: rem(50);
        li{
            a{
                font-weight: 600;
                text-transform: uppercase;
                font-size: rem(13);
            }
        }
    }
}