@import "../../scss/abstracts/_abstracts-dir";

.dc-dashboard{
    flex: 1 0 auto;
    background: var(--bg-white);
    &__layout{
        flex: 1 auto;
        min-width: 0;
        padding-left: rem(320);
        &--card-body{
            background: var(--bg-white);
            box-shadow: 0 0 rem(20) 0px rgba(76, 87, 125, 0.02);
            border-radius: rem(10);
        }
    }
    &__layout-content{
        flex: 1 0 auto;
        min-height: calc(100vh - 145px);
    }
}