
$white:                 #ffffff !default;
$black:                 #000000 !default;

$primary-100:           #020939 !default;
$primary-200:           #010626 !default;
$primary-300:           #000313 !default;

$secondary-100:         #b84363 !default;
$secondary-200:         #9b3954 !default;
$secondary-300:         #7e2e44 !default;

$light-100:             #c5af93 !default;
$light-200:             #f7f0ea !default;
$light-300:             #e1e3e4 !default;
$light-400:             #eaeaea !default;
$light-500:             #f5f5f5 !default;

$success-100:           #5fd193 !default;
$success-200:           #50cd89 !default;
$success-300:           #41c97f !default;

$warning-100:           #fd8927 !default;
$warning-200:           #fd7e14 !default;
$warning-300:           #fb7302 !default;

$danger-100:            #f02f5e !default;
$danger-200:            #ee1c50 !default;
$danger-300:            #e61145 !default;

$dark-100:              #555555 !default;
$dark-200:              #4c4c4c !default;
$dark-300:              #424242 !default;
$dark-400:              #383838 !default;
$dark-500:              #2e2e2e !default;
$dark-600:              #242424 !default;
$dark-700:              #1b1b1b !default;
$dark-800:              #111111 !default;
$dark-900:              #070707 !default;

$gray-100:              #f5f5f5 !default;
$gray-200:              #757575 !default;//#9c9c9c
$gray-300:              #b0b0b0 !default;

