$dc-icon-admin          : "\e900";
$dc-icon-delete         : "\e901";
$dc-icon-edit           : "\e903";
$dc-icon-email          : "\e904";
$dc-icon-home           : "\e905";
$dc-icon-idea           : "\e906";
$dc-icon-key            : "\e907";
$dc-icon-arrow-up       : "\e911";
$dc-icon-arrow-right    : "\e90d";
$dc-icon-arrow-down     : "\e902";
$dc-icon-arrow-left     : "\e908";
$dc-icon-logout         : "\e909";
$dc-icon-password       : "\e90a";
$dc-icon-pencil         : "\e90b";
$dc-icon-reset-password : "\e90c";
$dc-icon-role-setting   : "\e90e";
$dc-icon-search         : "\e90f";
$dc-icon-setting        : "\e910";
$dc-icon-user           : "\e912";
$dc-icon-administrator  : "\e913";
$dc-icon-error          : "\e915";
$dc-icon-info           : "\e916";
$dc-icon-success        : "\e917";
$dc-icon-warning        : "\e918";
$dc-icon-forgot-password: "\e914";
$dc-icon-heart          : "\e919";
$dc-icon-cart           : "\e93a";
$dc-icon-share          : "\e968";
$dc-icon-truck          : "\e9b0";
$dc-icon-cloud-upload   : "\e9c3";
$dc-icon-compare        : "\e91a";
$dc-icon-eye            : "\e91b";
$dc-icon-close          : "\e91c";
$dc-icon-newsletter     : "\e91d";
$dc-icon-address-book   : "\e91e";
$dc-icon-account-edit   : "\e91f";
$dc-icon-returns        : "\e920";
$dc-icon-rewards        : "\e921";
$dc-icon-transactions   : "\e922";
$dc-icon-download       : "\e923";
$dc-icon-orders         : "\e924";
$dc-icon-camera         : "\e925";
$dc-icon-filter         : "\e926";
$dc-icon-save           : "\e927";
$dc-icon-refresh        : "\e928";
$dc-icon-print          : "\e929";