@import "_color";

$font-size: 13px;
$font-height: 1.5;
$font-family: 'Inter', sans-serif;
$iconmoon-family: 'icomoon';

// ===============Admin bg color===============
$bg-color-white             : $white;
$bg-color-gray-100          : $gray-100;
$bg-color-primary           : $primary;
$bg-color-success           : $success;
// ===============Admin text color=============
$text-color-white           : $white;
$text-color-gray-700        : $gray-700;
$text-color-gray-900        : $gray-900;
$text-color-muted           : $gray-500;
// ===============Admin border color===========
$border-color-gray-300      : $gray-300;
$border-color-gray-400      : $gray-400;
// ===============Admin Link color=============
$link-text-color-primary    : $primary;
$link-text-gray-800         : $gray-800;
$link-text-color-danger     : $danger;
// ===============Admin button bg color========
$button-bg-color-primary    : $primary;
$button-bg-color-secondary  : $success;
// ===============Admin button text color======
$button-text-color-white    : $white;
// ==============Media Breakpoint==============
$screen-md:      768px;
$screen-lg:      1280px;
$screen-xl:      1600px;
// ==============Container width===============
$container-xl :  1580px;
$container-lg :  1220px;
$container-md :  740px;
//===============Font path=====================
$font-path: "../../resources/fonts";
$image-path: "../../resources/images";

