@import "_color";

$font-size: 16px;
$font-height: 1.5;
$font-family: 'Inter', sans-serif;

// ===============Admin bg color===============
$bg-color-white             : $white;
$bg-color-gray-100          : $gray-100;
$bg-color-primary           : $primary;
$bg-color-success           : $success;
// ===============Admin text color=============
$text-color-gray-700        : $gray-700;
$text-color-gray-900        : $gray-900;
// ===============Admin border color===========
$border-color-gray-300      : $gray-300;
// ==============Media Breakpoint==============
$screen-md:      768px;
$screen-lg:      1280px;
$screen-xl:      1600px;
// ==============Container width===============
$container-xl :  1580px;
$container-lg :  1220px;
$container-md :  740px;
//===============Font path=====================
$font-path: "./fonts";
$image-path: "./images";

