@import "../../../scss/abstracts/_abstracts-dir";

.dc-user-home{
  &__card{
      column-gap: rem(15);
      cursor: pointer;
      height: 100%;
      border-radius: rem(5);
      &--icon{
          span{
              font-size: rem(30);
          }
      }
  }
}