@import "scss/abstracts/_abstracts-dir";
.checkbox-switch{
  column-gap: rem(7);
  &__label{
      position: relative;
      width: rem(50);
      height: rem(24);
      border-radius: rem(12);
      overflow: hidden;
  }
  &__checkbox{
      display: none;
      &:checked + .checkbox-switch__slider {
          background-color: var(--bg-success);
      }
      &:focus + .checkbox-switch__slider {
          box-shadow: 0 0 rem(1) var(--border-success);
      }
      &:checked + .checkbox-switch__slider {
          &::before{
              content: attr(data-on);
              -webkit-transform: translateX(rem(26));
              -ms-transform: translateX(rem(26));
              transform: translateX(rem(26));
              background-color: var(--bg-white);
              color: var(--text-gray-600);
          }
      }
  }
  &__slider{
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--bg-danger);
      -webkit-transition: .4s;
      transition: .4s;
      &::before{
          position: absolute;
          content: attr(data-off);
          display: flex;
          justify-content: center;
          align-items: center;
          width: rem(20);
          height: rem(20);
          border-radius: 50%;
          left: rem(2);
          bottom: rem(2);
          background-color: var(--bg-white);
          color: var(--text-gray-600);
          -webkit-transition: .4s;
          transition: .4s;
          font-size: rem(7);
          font-weight: 500;
          text-transform: uppercase;
      }
  }
}

.checkbox-default{
    column-gap: rem(7);
    input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        height: rem(20);
        width: rem(20);
        outline: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        border: rem(2) solid var(--border-default);
        background: transparent;
        display: grid;
        justify-self: end;
        justify-items: center;
        align-items: center;
        overflow: hidden;
        transition: border .5s ease;
        &::before,
        &::after {
          content: "";
          display: flex;
          justify-self: center;
        }
        &::before {
          position: absolute;
          width: 100%;
          height: 100%;
          background: var(--bg-white);
          z-index: 1;
          opacity: var(--opacity, 1);
        }
        &::after {
          position: relative;
          width: calc(100% /2);
          height: calc(100% /2);
          background: var(--border-success);
          top: var(--y, 100%);
          transition: top .5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
        }
        &:checked {
          --checkbox: var(--border-success);
          border: rem(2) solid var(--border-success);
          &::after {
            --y: 0%;
            animation: stretch-animate .3s ease-out .17s;
          }
          &::before {
            --opacity: 0;
          }
          ~ input[type="checkbox"] {
            &::after {
              --y: -100%;
            }
          }
        }
        &:not(:checked) {
          &::before {
            --opacity: 1;
            transition: opacity 0s linear .5s;
          }
        }
    }
    label{
        cursor: pointer;
    }
}

@keyframes stretch-animate {
    0% {
      transform: scale(1,1)
    }
    28% {
      transform: scale(1.15,.85)
    }
    50% {
      transform: scale(.9,1.1)
    }
    100% {
      transform: scale(1,1)
    }
}