@import "../../../scss/abstracts/_abstracts-dir";

.checkbox-default{
    column-gap: rem(7);
    input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        height: rem(20);
        width: rem(20);
        outline: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        border: rem(2) solid var(--border-default);
        background: transparent;
        display: grid;
        justify-self: end;
        justify-items: center;
        align-items: center;
        overflow: hidden;
        transition: border .5s ease;
        &::before,
        &::after {
          content: "";
          display: flex;
          justify-self: center;
        }
        &::before {
          position: absolute;
          width: 100%;
          height: 100%;
          background: var(--bg-white);
          z-index: 1;
          opacity: var(--opacity, 1);
        }
        &::after {
          position: relative;
          width: calc(100% /2);
          height: calc(100% /2);
          background: var(--border-warning);
          top: var(--y, 100%);
          transition: top .5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
        }
        &:checked {
          --checkbox: var(--border-warning);
          border: rem(2) solid var(--border-warning);
          &::after {
            --y: 0%;
            animation: stretch-animate .3s ease-out .17s;
          }
          &::before {
            --opacity: 0;
          }
          ~ input[type="checkbox"] {
            &::after {
              --y: -100%;
            }
          }
        }
        &:not(:checked) {
          &::before {
            --opacity: 1;
            transition: opacity 0s linear .5s;
          }
        }
    }
    label{
        cursor: pointer;
    }
}

@keyframes stretch-animate {
    0% {
      transform: scale(1,1)
    }
    28% {
      transform: scale(1.15,.85)
    }
    50% {
      transform: scale(.9,1.1)
    }
    100% {
      transform: scale(1,1)
    }
}