@import "../../../scss/abstracts/_abstracts-dir";

.dc-textarea{
    &__textarea{
        &:focus{
            ~.dc-textarea__label {
                transform: translateY(-10px) scale(1);
                padding: 0 rem(5);
              }
        }
        &-active{
            ~.dc-textarea__label {
                transform: translateY(-10px) scale(1);
                padding: 0 rem(5);
            }
        }
    }
    &__label{
        color: var(--text-gray-500);
        background: var(--bg-white);
        position: absolute;
        pointer-events: none;
        left: rem(10);
        top: 0;
        padding: 0 rem(5);
        transform: translateY(10px);
        transition: -webkit-transform .2s ease;
        transition: transform .2s ease;
        transition: transform .2s ease,-webkit-transform .2s ease;
        will-change: transform;
        transform-origin: left;
    }
}
.dc-textarea{
    &__textarea{
        width: 100%;
        max-height: rem(120);
    }
    &__col{
        position: relative;
        &-textarea{
            width: 100%;
        }
    }
}