@import "../../../scss/abstracts/_abstracts-dir";

.dc-textarea{
    &__textarea{
        &:focus + .dc-input__bottom-line{
            &::before,
            &::after{
                transform: scale(1)
            }
        }
        &:focus{
            ~.dc-input__label {
                transform: translateY(-10px) scale(1);
                padding: 0 rem(5);
                &.label-0{
                    padding: 0; 
                }
              }
        }
        &-active{
            ~.dc-input__label {
                transform: translateY(-10px) scale(1);
                padding: 0 rem(5);
                &.label-0{
                    padding: 0; 
                }
            }
            + .dc-input__bottom-line{
                &::before,
                &::after{
                    transform: scale(1)
                }
            }
        }
    }
    &__label{
        color: var(--text-gray-500);
        background: var(--bg-white);
        position: absolute;
        pointer-events: none;
        left: rem(10);
        top: 0;
        padding: 0 rem(5);
        transform: translateY(10px);
        transition: -webkit-transform .2s ease;
        transition: transform .2s ease;
        transition: transform .2s ease,-webkit-transform .2s ease;
        will-change: transform;
        transform-origin: left;
        &.label-0{
            left: 0;
            padding:0;
        }
    }
}
.dc-textarea{
    &__textarea{
        width: 100%;
        max-height: rem(120);
    }
    &__col{
        position: relative;
        &-textarea{
            width: 100%;
        }
    }
}