@import "../../../scss/abstracts/_abstracts-dir";


.admin-aside{
    &__logo{
        background: var(--bg-light-600);
        height: rem(60);
        img{
            width: 100%;
            max-width: rem(130);
            max-height: rem(25);
        }
    }
    &__menu-text{
        color: var(--text-white);
        text-transform: uppercase;
        font-weight: 600;
    }
}