.dc-dashboard{
    flex: 1 0 auto;
    background: $bg-color-gray-100;
    &__layout{
        flex: 1 auto;
        min-width: 0;
        padding-left: rem(265);
    }
    &__layout-content{
        flex: 1 0 auto;
        min-height: 100vh;
    }
    &__header{
        h5{
            margin: 0;
        }
    }
    &__header-right{
        position: relative;
    }
    &__dropdown-button{
        border: none;
        padding: rem(3) rem(10);
        background: none;
        color: #000;
        border: 1px solid $white;
        display: flex;
        align-items: center;
        .fa-solid{
            margin-left: 10px;
            font-size: rem(12);
        }
    }
    &__header-dropdown{
        position: absolute;
        background: $white;
        padding: rem(15) rem(15) rem(5) rem(15);
        right: 0;
        top: rem(46);
        width: rem(220);
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 5%);
        animation: dropdown .2s ease forwards;
        border-radius: 0 0 rem(5) rem(5);
        ul{
            li{
                border-bottom: 1px solid tint-color($secondary, 85%);
                a{
                    padding: rem(10) 0;
                    color: $secondary;
                    display: block;
                    .fa-solid{
                        font-size: 14px;
                        margin-right: 8px;
                    }
                }
                &:last-child{
                    border: none;
                }
            }
        }
    }
    &__footer{
        
        p{
            font-size: 12px;
            span{
                color: $primary;
            }
            .fa-heart{
                color: $primary;
                margin-left: 5px;
            }
        }
    }
    &__sidebar{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 101;
        overflow: hidden;
        width: rem(265);
        display: flex;
        flex-direction: column;
        background: $bg-color-white;
        box-shadow: 0 0 rem(28) 0 rgba(82, 63, 105, 0.025);
        &--menu-text{
            color: $text-color-muted;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    &__logo{
        .dc-h3{
            color: $link-text-color-primary ;
        }
    }
    &__sidebar-nav{
        &--heading{
            cursor: pointer;
            column-gap: rem(10);
            font-weight: 600;
            color: $link-text-gray-800;
            .dc-icon-arrow-down,
            .dc-icon-arrow-right{
                font-size: rem(16);
            }
            .dc-icon-arrow-down{
                display: none;
            }
            &[aria-expanded="true"]{
                color: $link-text-color-primary;
                .dc-icon-arrow-right{
                    display: none;
                }
                .dc-icon-arrow-down{
                    display: block;
                } 
            }
            &:hover{
                color: $link-text-color-primary;
            }
        }
        &--text{
            column-gap: rem(10);
        }
        &--content{
            ul{
                li{
                    a{
                        display: block;
                        font-weight: 500;
                        color: $link-text-gray-800;
                        &::before{
                            content: '-';
                            margin-right: rem(5);
                        }
                        &:hover{
                            color: $link-text-color-primary;
                        }
                    }
                }
            }
        }
    }
}
@keyframes dropdown{
    0%{ opacity: 0; transform: translateY(-1rem); }
    100%{ opacity: 1; transform: translateY(0); }
}

//admin logout scss
.dc-logout{
    column-gap: rem(7);
    cursor: pointer;
    color: $link-text-color-danger;
    font-weight: 600;
}